<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mei.cuswidget">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CusWidget">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--View事件-->
        <activity android:name="com.mei.event.EventMainActivity"></activity>
        <activity android:name="com.mei.event.TestActivity"></activity>
        <activity android:name="com.mei.event.DemoActivity1"></activity>
        <activity android:name="com.mei.event.DemoActivity2"></activity>

        <!--Vie动画-->
        <activity android:name="com.mei.animation.AnimationMainActivity" />
        <activity android:name="com.mei.animation.ViewAnimationActivity" />
        <activity android:name="com.mei.animation.LayoutAnimationActivity" />
        <activity android:name="com.mei.animation.PropertyAnimationActivity" />
    </application>

</manifest>